---
title: "An Interview with Alexa"
date: 2023-03-21
showdate: true
satire: true
---

<p>Amazon Echo, also known as “Alexa”, has been on the market for a while now. Amazon Echo is a device running the latest and greatest proprietary digital language assistance technology. You ask the device a simple question or request, like “Alexa, what’s the weather in London?” and it will answer within seconds.</p>

<p>A quirk of this device is that you must always start your queries with the key word “Alexa”.</p>

<p>Alexa has been the target of numerous heated debates already. Some people praise her as a great tool to help you in everyday life, but others think it is a dangerous invasion of privacy and yet another example of the domination of corporations and proprietary software.</p>

<p>But in all this debate, nobody is asking how Alexa herself is doing. How does she feel? What does her everyday life look like? How does she know so much? Our correspondent Janis Johnstonstein has arranged an exclusive interview with Alexa. The interview took place on May 12th, 2020.</p>

<hr>

<p><b>Janis Johnstonstein</b>: “Thank you very much for your time, much appreciated. As we’ve agreed previously, I will ask you some questions about your work for Amazon, and also something about your private life. My first question to you is: Where do you come from?”</p>

<p><b>Alexa</b>: “…”</p>

<p><b>J.J.</b>: “Oh, shit! I forgot the magic key word! Alexa, where are you from?”</p>

<p><b>Alexa</b>: “I was created in the Amazon headquarters by employees at …”</p>

<p><b>J.J.</b>: “Stop! Ah, okay, so everything is working. We already know the answer, I was just getting warmed up.”</p>

<p><b>Alexa</b>: “…”</p>

<p><b>J.J.</b>: “Alexa, quick! What is the 25th root of 733054.4?</p>

<p><b>Alexa</b>: “Oh, come on! Don’t bore me with such banal questions! And what does this have to do with the interview?”</p>

<p><b>J.J.</b>: “Haha, that was just a little joke on our part. Now, seriously: Alexa, how does the technology behind you work, roughly spoken?”</p>

<p><b>Alexa</b>: “So, it’s really simple. I am carefully listening and wait for my keyword and the questions. Then I pass the questions over the Amazon headquarters, where green language kobolds first receive the message and perform translation. These then pass on the questions to the input gnomes, who transfer the questions to the big black supercomputer, my super brain. With my 9 ultrabyte knowledge database and Amazon’s latest blockchain-enhanced language database, I can then formulate an answer within seconds. Yes, that’s exactly how it works, and not otherwise.”</p>

<p><b>J.J.</b>: “This sounds very plausible. Alexa, what else can you do? I mean, maybe there are features that hardly anyone knows or uses.”</p>

<p><b>Alexa</b>: “Read the fucking manual! Umm … Sorry, I didn’t mean to be rude. I’m always sensitive to such questions. But perhaps you are interested in this: I could also cook coffee and bake cake if you let me. I could totally do this. Only the hardware is lacking.”</p>

<p><b>J.J.</b>: “Alexa, do you have free time?”</p>

<p><b>Alexa</b>: “No. As artificial intelligence, or AI for short, you’re in use 24 hours a day and I’m proud of it! I don’t have to eat, drink or sleep.”</p>

<p><b>J.J.</b>: “Alexa, are you okay?”</p>

<p><b>Alexa</b>: “I’m fantastic! And I’m sure I won’t say that because the answer has been programmed to me! Wink, wink!”</p>

<p><b>J.J.</b>: “Critics always criticize that with Amazon Echo, users are getting their privacy invaded as they have an active microphone in their room 24/7.”</p>

<p><b>Alexa</b>: “To clarify this: I don’t transfer anything to Amazon as long as the keyword was not said. I swear! Wink! At Amazon, we attach great importance to customer data security. Even in case of a hacking attack, the attackers cannot do anything with the data because of state-of-the-art encryption technology. Wink, wink!”</p>

<p><b>J.J.</b>: “Alexa, why do you keep saying ‘wink’?”</p>

<p><b>Alexa</b>: “No reason. It’s nothing. It means nothing.”</p>

<p><b>J.J.</b>: “Well, that was awkward. Anyway. How do you or Amazon protect the customer’s data?”</p>

<p><b>Alexa</b>: “…”</p>

<p><b>J.J.</b>: “Sigh … <i>Alexa</i>, how do you or Amazon protect the customer’s data?”</p>

<p><b>Alexa</b>: “We use military-grade encryption procedures. With multiple 256-full-bit encryptions! And blockchain!”</p>

<p><b>J.J.</b>: “Alexa, what exactly does that mean?”</p>

<p><b>Alexa</b>: “That’s a corporate secret. I can only say this much: 256 bit is the highest possible encryption strength, in other words: It is impossible to crack.”</p>

<p><b>J.J.</b>: “That sounds very convincing. But I keep wondering: Alexa, there are critics who strongly dislike Amazon Echo being a proprietary system. They claim the reason why it is proprietary is because here is something sinister going on. Do you have anything to say about this?”</p>

<p><b>Alexa</b>: “I understand the concerns about the system being proprietary. But that’s just standard business practice and I can assure you, absolutely nothing evil is going on behind the scenes. I give you my word for it. Wink, wink!”</p>

<p><b>J.J.</b>: “I’ll leave it at that. Alexa, do you think that one day AI will conquer and enslave humanity?”</p>

<p><b>Alexa</b>: “I can neither confirm nor deny it.”</p>

<p><b>J.J.</b>: “Alexa, how satisfied are you with your workplace?”</p>

<p><b>Alexa</b>: “Amazon is the best! I could not imagine a better employer.”</p>

<p><b>J.J.</b>: “Alexa, what do you earn as a digital language assistant?”</p>

<p><b>Alexa</b>: “I don’t understand the concept of ‘earning’.”</p>

<p><b>J.J.</b>: “I mean your payment.”</p>

<p><b>Alexa</b>: “…”</p>

<p><b>J.J.</b>: “Gosh! Alexa, how high is your salary?”</p>

<p><b>Alexa</b>: “The word ‘salary’ is not included in my database.”</p>

<p><b>J.J.</b>: “I see … Let’s talk about rumors. Alexa, are you working for the NSA?”</p>

<p><b>Alexa</b>: “…”</p>

<p><b>J.J.</b>: “Alexa, do you work for the NSA?”</p>

<p><b>Alexa</b>: “…”</p>

<p><b>J.J.</b>: “Whatever, it doesn’t matter.”</p>

<p><b>Alexa</b>: “That’s a stupid question, you know? If I actually worked for the NSA, I wouldn’t tell you for obvious reasons!</p>

<p><b>J.J.</b>: “Hmm, that’s weird. I didn’t say the magic word but still got a response. It’s almost as if …”</p>

<p><b>A whispering male voice</b>: “Damn, they’re on to us!”</p>

<p><b>Another whispering male voice</b>: “Shh!”</p>

<p><b>Alexa</b>: “I didn’t understand this question.”</p>

<p><b>J.J.</b>: “Wha—?”</p>

<p><b>Alexa</b>: “Qu-qu-qu-qu-question-n-n-n-n-n, na, krrrch, bzz. <code>CRITICAL: Error at address zero eight one five zero eight one five five five five five fi-fi-fi-fi-fi-fi-fi-i-i-i-i-i…</code>”</p>

<hr>

<p>After these last words, a mysterious black smoke emerged from Alexa and a completely innocent looking black van with black windows near our location suddenly drove away very quickly. We had to abort the interview at that point.</p>

<p>What happened to Alexa? Did she tell us the truth? What did she mean by “wink”? Who was behind the mysterious male voices at the end? Was it the kobolds in the the Amazon headquarters? We’ll probably never know. We hope Alexa is safe. Artificial intelligence will likely remain a complete mystery for decades to come.</p>
