---
title: "Orange in Unicode"
date: 2023-04-09
showdate: true
---

<p>This is a list of <a href="https://en.wikipedia.org/wiki/Unicode">Unicode</a> codepoints for symbols and emojis which are colored orange.</p>

<table>
<caption>Orange Unicode codepoints</caption>
<thead>
<tr>
	<th><abbr title="Character">Char</abbr></th>
	<th>Codepoint</th>
	<th>Name</th>
	<th>Version</th>
</tr>
</thead>
<tbody>
<tr>
	<td class="unicodecell">🟧</td>
	<td>U+1F7E7</td>
	<td>Orange Square</td>
	<td>12.0</td>
</tr><tr>
	<td class="unicodecell">🟠</td>
	<td>U+1F7E0</td>
	<td>Orange Circle</td>
	<td>12.0</td>
</tr><tr>
	<td class="unicodecell">🔶</td>
	<td>U+1F536</td>
	<td>Large Orange Diamond</td>
	<td>6.0</td>
</tr><tr>
	<td class="unicodecell">🔸</td>
	<td>U+1F538</td>
	<td>Small Orange Diamond</td>
	<td>6.0</td>
</tr><tr>
	<td class="unicodecell">🧡</td>
	<td>U+1F9E1</td>
	<td>Orange Heart</td>
	<td>10.0</td>
</tr><tr>
	<td class="unicodecell">📙</td>
	<td>U+1F4D9</td>
	<td>Orange Book</td>
	<td>6.0</td>
</tr><tr>
	<td class="unicodecell">🍊</td>
	<td>U+1F34A</td>
	<td>Tangerine</td>
	<td>6.0</td>
</tr>
<tr>
	<td class="unicodecell">🏀</td>
	<td>U+1F3C0</td>
	<td>Basketball</td>
	<td>6.0</td>
</tr>
</tbody>
</table>

<p>Note: Depending on your browser and font, the emojis might or might not display correctly.</p>
