---
title: "List of Unit-Testing Software with a Name like “JUnit”"
date: 2023-03-21
showdate: true
---

<p>I wrote this just for fun. I’ve noticed there is a lot of unit-testing frameworks with a name of the form “JUnit”, where the “J” could be replaced by single character from A-Z or a-z.</p>

<p>In the following list, I have compiled a list of all known unit-testing frameworks, proprietary or not, that have a name matching this form. This list is case-insensitive. Also, special characters like a hyphen are also allowed in the name. The column “Language/Environment” shows which language or environment is supposed to be unit-tested.</p>

<table>
<caption>List of unit-testing software with a name like “JUnit”</caption>
<thead>
<tr>
<th>Character</th>
<th>Name</th>
<th>Language/Environment</th>
</tr>
</thead>

<tbody>
<tr>
<td>A</td>
<td><a href="https://www.adacore.com/documentation/aunit-cookbook">AUnit</a></td>
<td>Ada</td>
</tr>
<tr>
<!-- for proprietary system -->
<td rowspan="2">B</td>
<td>bUnit</td>
<td>Blazor components (.NET)</td>
</tr>
<tr>
<!-- obscure -->
<td>bunit</td>
<td>Bash</td>
</tr>
<tr>
<td>C</td>
<td><a href="https://cunit.sourceforge.net/">CUnit</a></td>
<td>C</td>
</tr>
<tr>
<td>D</td>
<td><a href="https://dunit.sourceforge.net/">DUnit</a></td>
<td>Delphi</td>
</tr>
<tr>
<td rowspan="2">E</td>
<td>EUnit</td>
<td>Elements</td>
</tr>
<tr>
<td>EUnit</td>
<td>Erlang</td>
</tr>
<tr>
<td rowspan="2">F</td>
<td>FUnit</td>
<td>ActionScript</td>
</tr>
<tr>
<!-- Non-free.
Developed by NASA, released under NASA Open Source Agreement 1.3,
a license REJECTED by FSF -->
<td>FUnit</td>
<td>Fortran</td>
</tr>
<tr>
<td>G</td>
<td><a href="https://garage.maemo.org/projects/gunit">GUnit</a></td>
<td>GNOME</td>
</tr>
<tr>
<td>H</td>
<td><a href="https://hackage.haskell.org/package/HUnit">HUnit</a></td>
<td>Haskell</td>
</tr>
<!-- proprietary -->
<tr>
<td>I</td>
<td>IUNIT</td>
<td>IBM i</td>
</tr>
<tr>
<td>J</td>
<td><a href="https://junit.org/">JUnit</a></td>
<td>Java</td>
</tr>
<tr>
<td>K</td>
<td><a href="https://kunit.dev/">KUnit</a></td>
<td>Linux kernel</td>
</tr>
<tr>
<td rowspan="2">L</td>
<td><a href="https://mroth.net/lunit">lunit</a></td>
<td>Lua</td>
</tr>
<tr>
<td>L-Unit</td>
<td>Lasso</td>
</tr>
<tr>
<td rowspan="2">M</td>
<td>munit</td>
<td>Haxe</td>
</tr>
<tr>
<td>MUnit</td>
<td>Matlab</td>
</tr>
<tr>
<td>N</td>
<td>NUnit</td>
<td>.NET</td>
</tr>
<tr>
<td>O</td>
<td>OUnit</td>
<td>OCaml</td>
</tr>
<tr>
<td>P</td>
<td>PUnit</td>
<td>PHP</td>
</tr>
<tr>
<td>Q</td>
<td><a href="https://qunitjs.com/">QUnit</a></td>
<td>JavaScript</td>
</tr>
<tr>
<td rowspan="2">R</td>
<td><a href="https://cran.r-project.org/package=RUnit">RUnit</a></td>
<td>R</td>
</tr>
<tr>
<td>Runit</td>
<td>Rebol</td>
</tr>
<tr>
<td>S</td>
<!-- "the mother of unit testing frameworks -->
<td><a href="https://sunit.sourceforge.net/">SUnit</a></td>
<td>Smalltalk</td>
</tr>
<tr>
<td rowspan="2">T</td>
<td>t-unit</td>
<td>Tcl</td>
</tr>
<tr>
<td>TUnit</td>
<td>TinyOS/nesC</td>
</tr>
<tr>
<td>U</td>
<td>UUnit</td>
<td>Unity</td>
</tr>
<tr>
<td>V</td>
<td><a href="https://vunit.github.io/">VUnit</a></td>
<td>VHDL / SystemVerilog</td>
</tr>
<tr>
<td>W</td>
<td>WUnit</td>
<td>XML, web applications</td>
</tr>
<tr>
<td>X</td>
<td>XUnit</td>
<td>XML, XSLT</td>
</tr>
<!-- FornNon-free system -->
<tr>
<td>Y</td>
<td>YUnit</td>
<td>VisualStudio</td>
</tr>
<!-- Non-free -->
<tr>
<td rowspan="2">Z</td>
<td>zUnit</td>
<td>IBM mainframes</td>
</tr>
<tr>
<td>ZUnit</td>
<td>Zope</td>
</tr>
</tbody>
</table>

<p>Several things are noteworthy:</p>

<ul>
<li>The entire alphabet is used</li>
<li>Some first letters are used twice</li>
<li>Some names are used twice (even case-sensitively)</li>
</ul>

<p>Additional to unit-testing, there are also other softwares with a matching name but they have nothing to do with unit-testing:</p>

<ul>
<li>iUnit: macOS application for converting units of measurement</li>
<li><a href="http://smarden.org/runit/">runit</a>: UNIX-style init scheme</li>
</ul>

<p>So if you count these softwares as well, then the entire alphabet is occupied. The only wiggle room you have is by playing with case.</p>

<p>Please choose a name more creative than “AUnit”, “BUnit”, “CUnit”, etc. if you want to create a new unit-testing framework. :-)</p>

<p>Fun fact: G-Unit is also a hip-hop band but this obviously has nothing to do with unit tests.</p>

<hr>

<p>Disclaimer: No mention in this list should be read as an official endorsements of any of these softwares. This list was created just for fun.</p>
