---
title: "Contact"
date: 2019-11-22T07:20:00+01:00
---
<p>This page contains my contact information. I speak German and English. Please do not send highly-sensitive information to me.</p>

<h2>E-mail</h2>

<ul><li><a href="mailto:Wuzzy@disroot.org">Wuzzy@disroot.org</a></li></ul>

<h2>XMPP</h2>

<ul>
<li>Address: <a href="xmpp:Wuzzy2@jabber.ccc.de">Wuzzy2@jabber.ccc.de</a></li>
<li>OTR fingerprint: <code>CA48EFD7 46417098 2E4204ED 34D40C99 47C41E68</code></li>
</ul>

<h2>Matrix</h2>

<ul>
<li>Matrix ID: @wuzzy:matrix.org</li>
</ul>

<h2>IRC</h2>
<p>I tend to hang around in the following IRC servers:</p>

<ul>
<li><a href="irc://irc.libera.chat/">irc.libera.chat</a> (most frequently)</li>
<li><a href="irc://irc.quakenet.org/">irc.quakenet.org</a></li>
<li><a href="irc://irc.euirc.net/">irc.euirc.net</a></li>
</ul>

