/*
	Style sheet for Wuzzy’s Personal Website.
	Lots of orange! :-)
*/
* {
	color: #000000;
}
body {
	background: url(/assets/images/background.png);
	background-color: #F67D18;
	font-family: sans-serif;
	margin-left: 0.1em;
	margin-right: 0.1em;

}
hr {
	border: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
}
p a, li a {
	color: #F00;
	padding: 0.1em 0.1em 0.1em 0.1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
p a:link, li a:link, td a:link {
	color: #F00;
}
p a:visited, li a:visited, td a:visited{
	color: #A00;
}
p a:hover, li a:hover, td a:hover {
	background-color: white;
}
p a:active, li a:active, td a:active {
	color: white;
	background-color: #FF3E0F;
}
code {
	font-family: monospace;
}
pre {
	font-family: monospace;
	background-color: #F67D1B;
	color: black;
	border: 1px solid black;
	color: white;
	padding: 0.4em 0.4em 0.4em 0.4em;
	margin-left: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

div.flowcontainer p a, div.flowcontainer li a, div.flowcontainer td a {
	box-shadow: 1px 1px white;
}
div.flowcontainer p a:hover, div.flowcontainer li a:hover, div.flowcontainer td a:hover {
	box-shadow: 1px 1px black;
}

ul.footermenu a, ul.footermenu a:hover, ul.footermenu a:link, ul.footermenu a:active, ul.footermenu a:visited {
	box-shadow: none;
	border: 1px solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	line-height: 2;
}
ul.footermenu a {
	background-color: #FFBE1F;
}

ul.headermenu li, ul.footermenu li {
	list-style-type: none;
	display: inline;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding-left: 0.0em;
	padding-right: 0.0em;
}
ul.headermenu a {
	box-shadow: none;
	line-height: 2.2;
	font-size: 150%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	border: 2px solid black;
	background-color: #FFBE1F;
	color: #F00;
}
ul.headermenu a:link, ul.footermenu a:link {
	background-color: #FFBE1F;
}
ul.headermenu a:visited, ul.footermenu a:visited {
	color: #800;
}
ul.headermenu a:hover, ul.footermenu a:hover {
	background-color: #FFFFFF;
}
ul.headermenu a:active, ul.footermenu a:active {
	color: #FFF;
	background-color: #FF3E0F;
}

a#titlelink, a#titlelink:link, a#titlelink:visited {
	color: #000;
}
a#titlelink:hover {
	background-color: #FFFFFF;
}
a#titlelink:active {
	color: #FFF;
	background-color: #FF3E0F;
}

footer p a {
	background-color: #FFE200;
}

h1, h2, h3, h4, h5, h6, br.imgclear {
	clear: left;
}
/* Clearfix hack */
div.flowcontainer::after {
	content: "";
	clear: both;
	display: table;
}

.unicodecell {
	background-color: white;
	color: black;
	text-align: center;
}

/* Website title */
#title {
	font-weight: bold;
	font-size: 300%;
	background-color: #FF761F;
	border: 6px solid black;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#header {
	margin-left: 3em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
h1 {
	font-size: 275%;
	background-color: #FF961F;
	border: 5px solid black;
	margin-top: 0.4em;
	margin-bottom: 0.3em;
}
h2 {
	font-size: 200%;
	background-color: #FFA31F;
	border: 3px solid black;
}
h3 {
	font-size: 150%;
	border: 1px solid black;
}
h4 {
	border-bottom: 1px solid black;
	font-size: 140%;
	padding-top: 0;
	padding-bottom: 0;
}
h5 {
	font-size: 130%;
	border-bottom: 1px dotted black;
	padding-top: 0;
	padding-bottom: 0;
}
h6 {
	font-size: 120%;
	padding-top: 0;
	padding-bottom: 0;
}

p, li {
	line-height: 1.5;
}

p {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
}
p, ul, ol {
	padding-top: 0.4em;
	padding-left: 0.4em;
	padding-right: 0.4em;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5em;
}
li {
	padding-bottom: 0.2em;
	padding-left: 0em;
	padding-right: 0em;
	margin-left: 1em;
	margin-top: 0em;
	margin-bottom: 0em;
}
ul > li {
	list-style-type: square;
}
div.infocontainer {
	margin-top: 0.9em; margin-bottom: 0.0em;
}
span.infocontainer {
	border: 2px solid black; background-color: #FF3E0F; padding: 0.2em; font-size: 100%; font-weight: bold;
}
span.datecontainer {
	border: 2px dotted black; background-color: transparent; padding: 0.2em; font-size: 100%;
}
span.infocontainer, span.datecontainer {
	margin-left: 0.0em; margin-right: 0.5em;
}

div.flowcontainer {
	background-color: #faa91b;
	border: 2px solid black;
	margin-top: 1.0em;
	margin-bottom: 0.333em;
	margin-left: 4em;
	margin-right: 4em;
	text-align: left;
	padding-bottom:1em;
	padding-left:1.2em;
	padding-right:1.2em;
}

footer {
	margin-bottom: 1.2em;
}
img {
	margin-top: 0.5em;
	margin-bottom: 1.0em;
	margin-left: 0em;
	margin-right: 1.5em;
}
div.flowcontainer img {
	float: left;
}
img.screenshot, img.diagram {
	border: 2px solid black;
}
img.logo {
	margin-top: 1.0em;
}

table, td {
	border-style: solid;
	border-width: 1px;
	background-color: #FFDA06;
}
table {
	border-color: #000;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
td {
	border-color: #FFBE00;
}
caption {
	background-color: #FF9900;
	font-weight: normal;
	border: 1px solid black;
	padding: 0.2em;
}
th {
	background-color: #FFB000;
	text-align: center;
	font-weight: bold;
}
td, th {
	padding: 0.2em;
}
blockquote {
	border-left: 4px solid #00000080;
	padding-left: 0.8em;
	margin-left: 0.6em;
}


/* Smaller titles for very small screens */
@media only screen and (max-width: 600px) {
	#title {
		font-size: 200%;
	}
	h1 {
		font-size: 200%;
	}
	h2 {
		font-size: 175%;
	}
	h3 {
		font-size: 150%;
	}
	h4 {
		font-size: 140%;
	}
	h5 {
		font-size: 130%;
	}
	h6 {
		font-size: 120%;
	}
	ul.headermenu a {
		font-size: 110%;
	}
}

/* Support for ultra-tiny screens */
@media only screen and (max-width: 300px) {
	#title {
		font-size: 150%;
		border-width: 4px;
	}
	h1 {
		font-size: 140%;
		border-width: 3px;
	}
	h2 {
		font-size: 130%;
		border-width: 2px;
	}
	h3 {
		font-size: 120%;
	}
	h4 {
		font-size: 115%;
	}
	h5 {
		font-size: 110%;
	}
	h6 {
		font-size: 105%;
	}
	ul.headermenu a {
		font-size: 110%;
	}
	div.flowcontainer {
		padding-left: 0.1em;
		padding-right: 0.1em;
		border-left-width: 0;
		border-right-width: 0;
	}
	div.flowcontainer, #title, ul.headermenu li, ul.footermenu li {
		margin-left: 0em;
		margin-right: 0em;
	}
	body {
		margin-left: 0em;
		margin-right: 0em;
	}
	#title, h1, h2, h3, h4, h5, h6 {
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		padding-left: 0.3em;
		padding-right: 0.3em;
		margin-left: 0.1em;
		margin-right: 0.1em;
	}
	header, main, footer, #header {
		margin-left: 0em;
		margin-right: 0em;
	}
	img {
		margin-left: 0.25em;
		margin-right: 1.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	img.screenshot, img.diagram {
		border-width: 1px;
	}
	/* Auto-shrink images to fit. */
	img, img.screenshot, img.diagram, img.logo {
		max-width: calc(100% - 0.6em);
		height: auto;
	}
	div.flowcontainer img {
		float: none;
	}
}
/* Small margins for tiny screens */
@media only screen and (max-width: 1024px) and (min-width: 301px) {
	div.flowcontainer {
		margin-left: 0.333em;
		margin-right: 0.333em;
		padding-left: 0.8em;
		padding-right: 0.8em;
	}
	/* Auto-shrink images to fit.
	   Note: This assumes no image used is wider than 1024px */
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Support for small screens */
@media only screen and (max-width: 1024px) {

	#header {
		margin-left: 0em;
	}
	ul.headermenu a {
		margin-left: 0.05em;
		margin-right: 0.05em;
	}
	ul.headermenu {
		margin-left: 0em;
	}
}

