<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <main>
    <div class="flowcontainer">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul>
    {{ range .RegularPages }}
       {{ if (or (eq .Page.Params.draft false) (eq .Site.Params.showdrafts true)) }}
       <li>
          {{ if (eq .Page.Params.draft true) }}
          <a href="{{ .RelPermalink }}">[DRAFT] {{ .Title }}</a>
          {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
          {{ if (and (eq .Page.Section "comic") (not .IsTranslated)) -}}
          {{ T "language_exclusive" }}
          {{- end -}}
       </li>
       {{ end }}
    {{ end }}
    </ul>
    </div>
    </main>

    {{ partial "footer.html" . }}

  </body>

</html>
