<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    {{ partial "main_default.html" . }}

    {{ partial "footer.html" . }}

  </body>

</html>
