<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <main>
    <div class="flowcontainer">
    <h1>
    {{- if eq .Data.Singular "topic" -}}

    {{- $topicname := partial "i18n_topicname.html" (dict "TopicID" .Title "SiteData" $.Site.Data "Lang" $.Site.Language.Lang) -}}

    {{ T "all_comics_about" }} {{ $topicname -}}
    {{- else -}}
    {{ .Title -}}
    {{- end -}}
    </h1>
    <ul>
    {{ range .Pages }}
    <li>
    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ if (and (eq .Page.Section "comic") (not .IsTranslated)) -}}
    {{ T "language_exclusive" }}
    {{- end -}}
    </li>
    {{ end }}
    </ul>
    <hr>
    <p>
    {{- $plural := anchorize .Data.Plural -}}
    {{- $url := delimit (slice "/" $plural) "" -}}
    <a href='{{ $url | relLangURL }}' title='{{ T "all_topics" }}'>{{ T "all_topics" }}</a>
    </p>
    </div>
    </main>

    {{ partial "footer.html" . }}

  </body>

</html>
