<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <main>
    <div class="flowcontainer">
    <h1>{{- .Title -}}</h1>
    {{ if eq .Data.Plural "topics" }}
    <p>{{ T "topic_list_description" }}</p>
    {{ end }}
    <ul>
    {{- range .Data.Terms.ByCount -}}
    <li>

    {{- $topicname := partial "i18n_topicname.html" (dict "TopicID" .Page.Title "SiteData" $.Site.Data "Lang" $.Site.Language.Lang) -}}

    <a href="{{- .Page.Permalink -}}">{{- $topicname -}}</a> ({{- .Count -}})
    </li>
    {{- end -}}
    </ul>
    </div>
    </main>

    {{ partial "footer.html" . }}

  </body>

</html>
