---
title: "Contributions to Luanti"
date: 2020-10-27T13:25:00+01:00
---
<h2>About</h2>
<p><strong>Luanti</strong> is a game engine for voxel games. It is <a href="https://en.wikipedia.org/wiki/Free_software">free software</a> and distributed free of charge.</p>

<h2>My involvement</h2>
<p>Luanti is developed by a large community of volunteers, and I am part of it. I have created a lot of things for Luanti and I’m also very active in the <a href="https://forum.minetest.net/" title="Luanti Forums">forums</a>.</p>

<p>My core involvement in Luanti is not Luanti itself, but by creating a large number of mods and a few games. Some of my projects are forks.</p>

<h3>Games</h3>
<p>I made or maintain a few games for Luanti. This includes <b>Repixture</b>, <b>Glitch</b>, <b>Hades Revisited</b>, <b>Lazarr!</b> and <b>Eyeballs</b>. I’ve also started <b>MineClone 2</b> (later renamed to “VoxeLibre”), but I’ve handed over the development to other people.</p>

<p>See the <a href="/games/games" title="Games">Games</a> page for details.</p>

<h3>Mods</h3>
<p>I maintain a lot of mods for Luanti. Some of these are my own creations, some are forks, and some of them I have picked up for maintenance. Here are the most noteworthy ones:</p>

<h4>Own creations</h4>
<p>This section is for mods I have created on my own, or mostly on my own.</p>

<h5>Flying Carpet</h5>
<img class="screenshot" src="/assets/screenshots/flying_carpet.png" alt="Screenshot of Luanti mod “Flying Carpet”" width="300" height="200" >
<p>Fly through the world quickly with a flying carpet.</p>

<h5>Easy Vending Machines</h5>
<img class="screenshot" src="/assets/screenshots/easyvend.png" alt="Screenshot of Luanti mod “Easy Vending Machines”" width="300" height="200" >
<p>Vending machines to buy and sell items on multiplayer servers.</p>
<p>Technically, this mod is actually a fork but it is now so far removed from the original that I count this as an own creation.</p>

<h5>Help modpack</h5>
<img class="screenshot" src="/assets/screenshots/doc_modpack.png" alt="Screenshot of the “Help” Luanti modpack" width="300" height="200" >
<p>The Help modpack is a sophisticated in-game help system consisting of 5 mods. It allows games to add extensive in-game documentation. It’s being used in VoxeLibre.</p>

<h5>HUD Bars</h5>
<img class="screenshot" src="/assets/screenshots/hudbars.png" alt="Screenshot of the “HUD Bars” Luanti mod" width="300" height="200" >
<p>Replaces the default “statbars” (icons that show your health, breath, etc.) with progress-bar-like indicators. This mod is being used in a lot of servers.</p>

<p>I also created a few extra mods to support armor and hunger mechanics.</p>

<h5>Schematics Editor</h5>
<img class="screenshot" src="/assets/screenshots/schemedit.png" alt="Screenshot of the Luanti mod “Schematics Editor”" width="300" height="200" >
<p>A tool to create schematic files which store a part of the Luanti world in a <code>*.mts</code> file. This tool has been very important for the development of my Luanti games, including MineClone 2 (later called “VoxeLibre”), Repixture and Glitch.</p>

<h5>Perlin Explorer</h5>
<img class="screenshot" src="/assets/screenshots/perlin_explorer.png" alt="Screenshot of the Luanti mod “Perlin Explorer”" width="300" height="200" >
<p>A mod for developers. It is a tool to preview the generation of 2D and 3D Perlin noise using custom parameters. Perlin noise is used in Luanti to create the shape of the terrain, among other teams. I wrote this tool to make it easier to preview the result of world generation. I have also used this tool to build two levels for Glitch.</p>

<h5>L-System Tree Utility</h5>
<img class="screenshot" src="/assets/screenshots/ltool.png" alt="Screenshot of the Luanti mod “L-System Tree Utility”" width="300" height="200" >
<p>A mod for developers and nerds. With this you can spawn structures based on <a href="https://en.wikipedia.org/wiki/L-system">L-systems</a>. This mod doesn’t implement L-systems itself but merely exposes a feature from Luanti. I haven’t used this tool productively yet.</p>

<h4>Forked mods</h4>
<p>The mods in this section are forks, i.e. derivative works of existing mods from other people. Although not <i>originally</i> by me, I still have put significant work into these.</p>

<h5>Rail Corridors</h5>
<img class="screenshot" src="/assets/screenshots/tsm_railcorridors.png" alt="Screenshot of Luanti mod “Rail Corridors”" width="300" height="200" >
<p>Generates simple rail corridors, mineshafts and loot underground.</p>

<h5>Pyramids</h5>
<img class="screenshot" src="/assets/screenshots/tsm_pyramids.png" alt="Screenshot of Luanti mod “Pyramids”" width="300" height="200" >
<p>Generates pyramids with treasures in the desert.</p>

<p>In my version of this mod, the pyramid interior is random so the pyramids are more unique.</p>

<h5>X-Decor-libre</h5>
<img class="screenshot" src="/assets/screenshots/xdecor_libre.png" alt="Screenshot of the Luanti mod “X-Decor-libre”" width="300" height="200" >
<p>A decoration mod with a couple of gameplay additions such as a workbench, enchanting, cooking and even a functional Chess game.</p>

<p>Originally it was started by Luanti user kilbith (also known as “jp”) with the name “X-Decor” who wrote the initial code and created the initial artwork for the mod. Later, I have forked this mod only to replace a few non-free files to create a fully free software version. But later I have started to work a lot on bugfixes as there were plenty of bugs. I do not add any new decorations for compatibility reasons.</p>

<p>Most notably, I have completely reworked Chess because it was very broken.</p>

<h4>Maintained mods</h4>
<p>To support the development of others, I have decided to become the maintainer of two existing mods known from the A.E.S. server, mostly for polishing and bugfixes.</p>
<h5>Tntrun</h5>
<img class="screenshot" src="/assets/screenshots/tntrun.png" alt="Screenshot of the Luanti mod “Tntrun”" width="300" height="200" >
<p><a href="https://gitlab.com/zughy-friends-minetest/tntrun" title="Tntrun">Tntrun</a> is a minigame where players spawn on a layer of falling TNT and the last player standing wins.</a></p>
<p>I’ve added particle and sound effects and tools for level editing.</p>

<h5>TNTTag</h5>
<img class="screenshot" src="/assets/screenshots/tnttag.png" alt="Screenshot of the Luanti mod “TNTTag”" width="300" height="200" >
<p><a href="https://gitlab.com/zughy-friends-minetest/tnttag" title="TNTTag">TNTTag</a> is a minigame in which players “tag” each other with TNT to make them explode when the timer hits 0.</p>
<p>I’ve added explosion particles and sound effects.</p>

<h4>More Luanti mods</h4>
<p>Other mods I created or maintain include:</p>
<ul><li>Very small decoration mods such as cups or dice</li>
<li>Calendar</li>
<li>Extended tooltips</li>
<li>Tiny mods that make one simple HUD or gameplay change</li>
<li>Ancient mods I no longer care about</li>
</ul>

<p>See my <a href="https://content.minetest.net/users/Wuzzy/">ContentDB profile page</a> and the <a href="https://wiki.minetest.net/User:Wuzzy" title="Wuzzy’s Luanti Wiki user page">Luanti Wiki user page</a> for a more complete list.</p>

<h3>Core development</h3>
<p>I have contributed various improvements and bugfixes to Luanti. Hundreds of changes have been accepted so far and they are all over the place. Here’s a list of highlights:</p>

<ul>
<li><b>Completely reworked the Development Test game</b>: To be more stable and include many more testing items and stuff. Previously, a lot of tests were simply missing and it was quite a mess. With the new Development Test, we found load of previously unknown bugs in Luanti.</li>
<li><b>Pathfinder bugfixes</b>: The A* pathfinder, often used by creatures to find a way to their target, was completely broken and needed a full rewrite.</li>
<li><b>Made builtin translatable</b>: Builtin is a key component of Luanti that included many texts that were untranslatable before.</li>
<li><b>Drawtype improvements</b>: These are more options for how blocks look in the game.</li>
<li><b>Fix awkward tool uses bug</b>: Tools had an awkward bug in which the number of times they can be used before breaking was off by between 1 to 32767 times. The bugfix was surprisingly complicated, due to how tool wear works internally</li>
<li>Allow to modify and disable fall damage per-player</li>
<li>Decoupled the liquid graphics from liquid behavior</li>
<li>Add support for relative numbers in chat commands by prepending the tilde character (e.g. <code>/teleport ~0 ~5 ~0</code> teleports you 5 block upwards)</li>
<li>Added simplified method to rotate blocks in 4 directions (internally: <code>4dir</code> and <code>color4dir</code>)</li>
<li>Added more ways to override player physics</li>
</ul>

<h3>Documentation</h3>
<p>I have spent a lot of time working on the <a href="https://wiki.minetest.net">Luanti Wiki</a> and <a href="https://dev.minetest.net">Luanti Developer Wiki</a>. I also occasionally added minor improvements to the official Lua API documentation.</p>

<h3>Translations</h3>
<p>I actively maintain the German translation of Luanti and Minetest Game as well as my own projects (games and mods). I occasionally contribute translations to other mods in the Luanti community.</p>

<h3>Development tools</h3>
<h4>Luanti Translation Tools</h4>
<p>I maintain <a href="https://codeberg.org/Wuzzy/Luanti_Translation_Tools" title="Luanti Translation Tools">Luanti Translation Tools</a>, a set of scripts to create, update, verify and convert the <code>*.tr</code> files. These files are used for translations of mods and games in Luanti. I’m using these tools all the time when dealing with my Luanti games and mods; they’ve saved so much time. With the checker tool I have uncovered numerous bugs in translation files of several mods.</p>

<p>The updater tool is a fork from <a href="https://github.com/minetest-tools/update_translations" title="update_translations">update_translations</a> but I’ve added many features and bugfixes to make it more useful. As of October 2023, this tool has been officially included in Luanti.</p>

<h4>LiBPoV</h4>
<p>In Luanti, biomes are areas that differ in types of surface and underground blocks (dirt, stone, sand, etc.) as well as vegetation and other extras. Biomes include areas like forests, deserts, jungles, arctic lands, grasslands, savannas, tundras, taigas, etc.</p>

<p>But it’s always a challenge for developers because we have to define for each biome a heat and humidity value but looking only at number, it’s easy to lose track and get things imbalanced, like biomes may have bad borders (like a desert bordering directly to a cold tundra), or being too large or too small.</p>

<p>That’s where <a title="LiBPoV" href="https://wuzzy.codeberg.page/LiBPoV/">LiBPoV</a> (the Luanti Biome Point Visualizer) comes into play. I created this tool which makes it easy to visualize the heat and humidity points by putting them on a <a href="https://en.wikipedia.org/wiki/Voronoi_diagram">Voronoi diagram</a>, making it much easier to design good biomes.</p>

<h3>My favourite servers</h3>
<p>I like these Luanti servers the most:</p>
<ul>
<li><a href="https://minetest.foo-projects.org/">Inside the Box</a>: Solve over mind-bending 200 puzzles. It’s very high-quality, strongly recommend!</li>
<li><a href="https://jt2.intraversal.net/">JT2</a>: Classic survival. I’ve been on this server for a very long time</li>
<li>Catlandia: A heavily modified Minetest Game</li>
<li><a href="https://aes.land/">A.E.S.</a>: Minigames</li>
</ul>
