---
title: "Game Contributions Overview"
date: 2019-11-22T07:22:08+01:00
draft: false
weight: -1
---

<p>I have contributed to various games over the years.</p>

<ul>
<li><a href="/gamedata/minetest/">Luanti</a>: Features, bugfixes, games, mods</li>
<li><a href="/gamedata/stunt_rally">Stunt Rally</a>: Tracks</li>
<li><a href="/essays/openttd_opensfx">OpenSFX</a>: I created libre sounds for OpenTTD and pushed for the 1.0.0 release of OpenSFX</li>
<li><a href="https://www.hedgewars.org">Hedgewars</a>: Before I became an official co-developer, I’ve contributed various non-code-related things: Maps (most of which were ported from WarMUX), Forts, some missions, scripts, hats, flags and German voice files. A few of these made their way into official Hedgewars</li>
<li><a href="http://the-butterfly-effect.org/">The Butterfly Effect</a>: Many levels</li>
<li>Various games: German <a href="/gamedata/translations">translations</a></li>
<li>There’s also a bunch of games to which I made smaller contributions</li>
</ul>


