---
title: "Contributions to Stunt Rally"
date: 2019-11-22T07:22:08+01:00
draft: false
---
<p><a href="https://stuntrally.tuxfamily.org/">Stunt Rally</a> is a rallye racing game created by CryHam.</p>

<h2>Tracks</h2>
<p>I have created a couple of tracks for Stunt Rally, many of which have made it into the official game. Here I showcase all the tracks I created.</p>
<p><b>Hint</b>: On the Stunt Rally website you can find an <a href="https://stuntrally.tuxfamily.org/tracks3">overview of all official tracks</a>.</p>

<h3>Forest tracks</h3>
<h4>Atm6-Sunset</h4>
<a href="./tracks/Atm6-Sunset.jpg"><img class="screenshot" src="./tracks/thumbnails/Atm6-Sunset.jpg" alt="Screenshot Atm6-Sunset" width="320" height="320" ></a>
<p>Simple autumn track.</p>

<h4>For17-BadCamber</h4>
<a href="./tracks/For17-BadCamber.jpg"><img class="screenshot" src="./tracks/thumbnails/For17-BadCamber.jpg" alt="Screenshot For17-BadCamber" width="320" height="320" ></a>
<p>A track with long curves which have been tilted away from the curve, making it very annoying to drive.</p>

<h4>Mos3-Air</h4>
<a href="./tracks/Mos3-Air.jpg"><img class="screenshot" src="./tracks/thumbnails/Mos3-Air.jpg" alt="Screenshot Mos3-Air" width="320" height="320" ></a>
<p>Simple, fast figure-8-track with a short jump.</p>

<h3>Winter tracks</h3>
<h4>Wnt12-Peaks</h4>
<a href="./tracks/Wnt12-Peaks.jpg"><img class="screenshot" src="./tracks/thumbnails/Wnt12-Peaks.jpg" alt="Screenshot Wnt12-Peaks" width="320" height="320" ></a>
<p>My very first track! Short, banked road high in the icy peaks of mountains. The official version has a greatly improved scenery by CryHam. Go <a href="./tracks/Wnt12-Peaks_original.jpg">here</a> for a screenshot of an older version of this track, before CryHam touched it.</p>

<h4>Wnt13-MtFog</h4>
<a href="./tracks/Wnt13-MtFog.jpg"><img class="screenshot" src="./tracks/thumbnails/Wnt13-MtFog.jpg" alt="Screenshot Wnt13-MtFog" width="320" height="320" ></a>
<p>A broad but yet dangerous road in dense fog. Drive carefully and watch out for grass for orientation.</p>

<h4>Wnt15-SkiJump</h4>
<a href="./tracks/Wnt15-SkiJump.jpg"><img class="screenshot" src="./tracks/thumbnails/Wnt15-SkiJump.jpg" alt="Screenshot Wnt15-SkiJump" width="320" height="320" ></a>
<p>A track with a deep drop and jump on the snow. Landing safe, rather than flying far, is the key to success. Reverse direction is very hard without boost.</p>

<h3>Desert tracks</h3>
<h4>Des13-Winding</h4>
<a href="./tracks/Des13-Winding.jpg"><img class="screenshot" src="./tracks/thumbnails/Des13-Winding.jpg" alt="Screenshot Des13-Winding" width="320" height="320" ></a>
<p>A fast easy pipe track in the middle of the desert. With few circles and a winding part.</p>

<h3>Volcano tracks</h3>
<h4>Vlc4-Spikeland</h4>
<a href="./tracks/Vlc4-Spikeland.jpg"><img class="screenshot" src="./tracks/thumbnails/Vlc4-Spikeland.jpg" alt="Screenshot Vlc4-Spikeland" width="320" height="320" ></a>
<p>This is a short and very bumpy track. Your best bet is to drive slowly and carefully.</p>

<h4>Vlc5-Sad</h4>
<a href="./tracks/Vlc5-Sad.jpg"><img class="screenshot" src="./tracks/thumbnails/Vlc5-Sad.jpg" alt="Screenshot Vlc5-Sad" width="320" height="320" ></a>
<p>Dark, long, muddy, bumpy and slippery road. Has few wide curves but partly slow and winding.</p>

<h4>Vlc8-Uncertain</h4>
<a href="./tracks/Vlc8-Uncertain.jpg"><img class="screenshot" src="./tracks/thumbnails/Vlc8-Uncertain.jpg" alt="Screenshot Vlc8-Uncertain" width="320" height="320" ></a>
<p>Covered with fog, long and bumpy track with narrow road near dangerous abysses.</p>

<h4>Vlc10-MtSulphur</h4>
<a href="./tracks/Vlc10-MtSulphur.jpg"><img class="screenshot" src="./tracks/thumbnails/Vlc10-MtSulphur.jpg" alt="Screenshot VlcMtSulphur" width="320" height="320" ></a>
<p>A long, tricky and bumpy track around an old dusty volcano in a dark jungle. Only for skilled drivers.</p>

<h3>Strange tracks</h3>
<h4>Oth1-FogCity</h4>
<a href="./tracks/Oth1-FogCity.jpg"><img class="screenshot" src="./tracks/thumbnails/Oth1-FogCity.jpg" alt="Screenshot Oth1-FogCity" width="320" height="320" ></a>
<p>An all-asphalt all-bridge track around some sky scrapers in a foggy city.</p>

<h4>Sur1-Surreal</h4>
<a href="./tracks/Sur1-Surreal.jpg"><img class="screenshot" src="./tracks/thumbnails/Sur1-Surreal.jpg" alt="Screenshot Sur1-Surreal" width="320" height="320" ></a>
<p>A long, fast and challenging track in a surreal world.</p>

<h3>Unofficial tracks</h3>
<p>These tracks/thumbnails did not make it into the official game:</p>
<h4>Wave</h4>
<a href="./tracks/Wave.jpg"><img class="screenshot" src="./tracks/thumbnails/Wave.jpg" alt="Screenshot of Wave" width="320" height="320" ></a>
<p>A simple track that goes up and down. You can download it <a href="https://forum.freegamedev.net/viewtopic.php?f=80&t=5343" title="Wave track forum post">here</a> or <a href="https://cloud.disroot.org/s/np59dA76CWE4Hmn" title="Alternative Wave track download">here</a>.</p>
<p>Released under the {{< license "GPLv3" >}} or any later version of this license.</p>

<h4>A7-OldMine</h4>
<a href="./tracks/A7-OldMine.jpg"><img class="screenshot" src="./tracks/thumbnails/A7-OldMine.jpg" alt="Screenshot A7-OldMine" width="320" height="320" ></a>
<p>Drive around an abandoned mine near a ghost time. A variation of the official track Aus7-CityMine. I changed the track to a more rural setting, which I like more. Download <a href="https://forum.freegamedev.net/viewtopic.php?f=80&t=5693" title="A7-OldMine track forum post">here</a> or <a href="https://cloud.disroot.org/s/nyzmBBbqmm8b6Ly" title="Alternative A7-OldMine track download">here</a>.</p>
<p>Released under the {{< license "GPLv3" >}} or any later version of this license.</p>
</p>
