---
title: "Comics"
date: 2023-03-20
---

<h2>Nose Ears</h2>
<a href="{{< param noseearsurl >}}" title="Nose Ears"><img class="logo" width="276" height="150" alt="" src="/assets/images/Nose_Ears_logo.png" /></a>

<p>
I post a bilingual webcomic named “<a href="{{< param noseearsurl >}}" title="Nose Ears">Nose Ears</a>”. It’s a comic about the absurd things in life and I make fun about everything.
</p>
<p>
I’ve started Nose Ears in October 24, 2021. The text, structure and arrangements of the comics were created by me, but most of drawings weren’t (see the Nose Ears credits).
</p>

<h3>Nasenohren</h3>
<a href="{{< param noseearsurlde >}}" title="Nasenohren"><img class="logo" width="276" height="150" alt="" src="/assets/images/Nasenohren_logo.png" /></a>
<p>
<a href="{{< param noseearsurlde >}}" title="Nasenohren">Nasenohren</a> is the German version of Nose Ears. It features a couple of German-only comics as well.
</p>
