<footer>
	<hr>
	<ul class="footermenu">
	<li><a href='{{ "/meta/contact" | relLangURL }}'>Contact</a></li>
	<li><a href='{{ "/meta/privacy" | relLangURL }}'>Privacy</a></li>
	<li><a href='{{ "/meta/copying" | relLangURL }}'>Copying</a></li>
	<li><a href='{{ "/meta/faq" | relLangURL }}'>FAQ</a></li>
	</ul>
</footer>
