<header>
	<div id="header-wrapper">
		<div id="title">
			<a id="titlelink" href="/">{{ .Site.Title }}</a>
		</div>
		<div id="header">
			<ul class="headermenu">
			<li><a href='{{ "/" | relLangURL }}' title="{{ .Site.Title }}">Home</a></li>
			<li><a href='{{ "/about/me" | relLangURL }}'>About&nbsp;me</a></li>
			<li><a href='{{ "/games/games" | relLangURL }}'>Games</a></li>
			<li><a href='{{ "/gamedata/overview" | relLangURL }}'>Game&nbsp;Contributions</a></li>
			<li><a href='{{ "/comics/nose_ears" | relLangURL }}'>Comics</a></li>
			<li><a href='{{ "/essays" | relLangURL }}'>Essays</a></li>
			<li><a href='{{ "/random" | relLangURL }}'>Random</a></li>
			</ul>
		</div>
	</div>
</header>
