<head>
    <title>
    {{- if .IsHome -}}
    {{ .Site.Title }}
    {{- else -}}
    {{ .Title }} | {{ .Site.Title }}
    {{- end -}}
    </title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Site.Params.description }}">

    <meta name="author" content="Wuzzy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Wuzzy, person, games, free software, essays, aro-ace, orange" >

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="author" href='{{ "/about/me" | relLangURL }}'>
    <link rel="license" href='{{ "/meta/copying" | relLangURL }}'>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
