	<!-- Main section -->
	<main>
	<div class="flowcontainer">
        <div class="infocontainer">
        {{- if eq .Page.Params.satire true -}}
        <span class="infocontainer">Satire</span>
        {{- end -}}
        {{- if eq .Page.Params.draft true -}}
        <span class="infocontainer">Draft</span>
        {{- end -}}
        {{- if eq .Page.Params.showdate true -}}
        <span class="datecontainer">Published at: {{ .Date.Format "02 Jan 2006" }}</span>
        {{- if (not (eq .Date .Lastmod)) -}}
        <span class="datecontainer">Last modified at: {{ .Lastmod.Format "02 Jan 2006" }}</span>
        {{- end -}}
        {{- end -}}
        </div>

	<h1>{{ .Title }}</h1>
	{{- if eq .Page.Params.usestoc true -}}
	<h2>Table of Contents</h2>
	{{ .TableOfContents }}
	{{- end -}}
	{{ .Content }}
	</div>

	</main>
