<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>
    <div>
      <h1>File not found</h1>
      <div class="flowcontainer">
          <p>Oh no! The file you requested could not be found.</p>
          <p><a href="{{ "/" | relURL }}" title="Wuzzy’s Personal Website">Go to Wuzzy’s homepage</a></p>
      </div>
    </div>
  </body>
</html>
