<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head.html" . }}

<body>
	{{ partial "header.html" . }}

	<main>
	<div class="flowcontainer">
	<img class="logo" src="/assets/images/Wuzzy_avatar_nonsquare.png" width="150" height="117" alt="Wuzzy’s avatar">
	<p>I’m <b>Wuzzy</b> and this is my space on the Internet. I like the color <b>orange</b>, <b>video games</b>, <b>free software</b> and the concept of <b>absurdity</b>. I speak German and English.</p>

	<p>I make <a href="/games/games">games</a> and I <a href="/gamedata/overview">contribute</a> to games. Noteworthy games include <a href="https://content.minetest.net/packages/Wuzzy/repixture">Repixture</a> (main developer) and <a href="https://www.hedgewars.org">Hedgewars</a> (co-developer). I also post the webcomic <a href="/comics/nose_ears">Nose Ears</a>.</p>

	<p>On <b><a href="https://cyberplace.social/web/@Wuzzy">Mastodon</a></b>, I often post about my latest projects and thoughts.</p>

	<p>Practically all of my published work is compatible with free software / free culture values. Most of my code can be found on <a href="https://codeberg.org/Wuzzy" title="Wuzzy’s profile page on Codeberg.org">Codeberg.org</a>.</p>

	<p>To learn more about my personality, see <a href="/about/me">About me</a>.</p>

	<p>For other random nonsense I do on the Internet, see <a href="/about/internet">Me in the Internet</a>.</p>

	<h2>Contact / Social</h2>
	<p>Here’s how you can contact me:</p>
	<ul>
	<li>E-mail: <a href="mailto:Wuzzy@disroot.org">Wuzzy@disroot.org</a></li>
	<li>XMPP: <a href="xmpp:Wuzzy2@jabber.ccc.de">Wuzzy2@jabber.ccc.de</a></li>
	<li>Mastodon: <a href="https://cyberplace.social/web/@Wuzzy">@Wuzzy@cyberplace.social</a></li>
	<li>Other: See <a href="/meta/contact">Contact</a></li>
	</ul>
	</div>

	{{ partial "footer.html" . }}

	</main>
</body>
</html>

