---
title: "NonCommercial considered harmful"
date: 2023-03-20T03:17:00+01:00
showdate: true
---

<p>I strongly advice against using <a href="https://creativecommons.org/about/cclicenses/">Creative Commons licenses</a> with a “NonCommercial” (NC) clause, both for artists and users alike.</p>

<p>The NC clause vaguely forbids any “commercial use” of the work on a surface level, but what many don’t realize is that it actually causes collateral damage as well.</p>

<h2>Negative effects of NonCommercial</h2>

<p><b>The NonCommercial restriction is incompatible with free culture.</b></p>

<p>This clause is almost always unnecessary to prevent capitalist exploitation, but it deals collateral damage to the free culture movement in general. Whatever capitalist exploitation you might prevent, many non-commercial actors will get caught up in the crossfire.</p>

<p>This is why in the free culture movement, NC licenses are considered to be “non-free”, as they are against the essential freedom to use a work for any purpose.</p>

<p>To quote freedomdefined.org, other reasons against NC include:</p>

<blockquote>
<ul>
<li>They make your work <b>incompatible</b> with a growing body of free content, even if you do want to allow derivative works or combinations.
<li>They may rule out other <b>basic and beneficial</b> uses which you want to allow.
<li>They support current, <b>near-infinite</b> copyright terms.
<li>They are unlikely to increase the potential <b>profit</b> from your work, and a share-alike license serves the goal to protect your work from unethical exploitation equally well.
</ul>
</blockquote>

<p>Further reading: <a href="https://freedomdefined.org/Licenses/NC">https://freedomdefined.org/Licenses/NC</a></p>

<p>I believe the NonCommercial clause is especially harmful because it gives people a <b>false sense of safety</b>. It allows people to associate themselves with the free culture movement without actually committing to it. The Creative Commons organization directly contributes to this harm by officially endorsing it.</p>

<p>For users, I advice anyone to <b>not touch NC works with a ten-meter pole</b>. Treat them as if any use of these works would <i>instantly</i> make you vulnerable to a billion lawsuits, as if the work was under full copyright restrictions. Why? Because NonCommercial clause is simply too unpredictable.</p>

<h2>Where NonCommercial work can’t be used</h2>

<p>When you think of “commercial”, you likely think of the big greedy mega-corporations. And yeah, <i>you’re not wrong</i>. However, the clause is much more far-reaching. These people and institutions get caught up in the crossfire and likely can’t safely use NC works:</p>

<ul>
<li>A random private blog that has a single banner ad which makes less than 1.00 USD per month</li>
<li>Public institutions that sell <i>anything at all</i> (like souvenirs in a museum shop)</li>
<li>Public institutions, sometimes (because some courts have interpreted NonCommercial to mean only private use)</li>
<li>Schools, sometimes (for the same reason)</li>
<li>Wikipedia (because they are pro-free-culture)</li>
<li>Wikimedia Commons (same reason)</li>
<li>Wikidata (same reason)</li>
<li><i>All</i> free software projects (because with a NonCommercial clause, it ceases to be free software)</li>
</ul>

<hr>

<p><b>Disclaimer</b>: I am not a lawyer.</p>
