---
title: "Games"
date: 2023-03-20
---
<p>I have created, contributed to and/or maintain a number of video games.</p>

<h2>Games for Luanti</h2>
<h3>Repixture</h3>
<a href="/assets/screenshots/repixture.png">
	<img class="screenshot" src="/assets/screenshots/repixture_small.png" alt="Screenshot of Repixture" width="600" height="400" >
</a>
<p><a href="https://content.minetest.net/packages/Wuzzy/repixture">Repixture</a> is a mostly peaceful voxel sandbox survival game focusing on temperate biomes and simple technologies. I am the main developer. This is a fork of Pixture, but there is a lot of changes now.</p>

<h3>Glitch</h3>
<a href="/assets/screenshots/glitch.png">
	<img class="screenshot" src="/assets/screenshots/glitch_small.jpg" alt="Screenshot of Glitch" width="600" height="400" >
</a>
<p><a href="https://content.minetest.net/packages/Wuzzy/glitch">Glitch</a> is a platformer game set in cyberspace. I made this in 3 weeks of hard work for the <a href="https://forum.minetest.net/viewtopic.php?f=18&t=28802">2022 Minetest Game Jam</a> and won.</p>

<p>I wrote a very detailed <a href="/games/makingof_glitch">making-of</a>.</p>

<h3>Shadow Forest</h3>
<a href="/assets/screenshots/shadow_forest.png">
	<img class="screenshot" src="/assets/screenshots/shadow_forest_small.jpg" alt="Screenshot of Shadow Forest" width="600" height="400">
</a>
<p><a href="https://content.minetest.net/packages/Wuzzy/shadow_forest">Shadow Forest</a> is an action RPG in which you’re the Wizard of Light on a quest to return the light in the land overrun by the Shadows.</p>
<p>I made this in 3 weeks of hard work for the <a href="https://forum.minetest.net/viewtopic.php?t=29957">2023 Minetest Game Jam</a>. It ranked 4th (out of 14).</p>

<p>I wrote a very detailed <a href="/games/makingof_shadow_forest">making-of</a>.</p>

<h3>Eyeballs</h3>
<a href="/assets/screenshots/eyeballs.png">
	<img class="screenshot" src="/assets/screenshots/eyeballs_small.jpg" alt="Screenshot of Eyeballs" width="600" height="400">
</a>
<p><a href="https://content.minetest.net/packages/Wuzzy/Eyeballs">Eyeballs</a> is a stealth/anti-stealth game where you, a member of the Cult of Oculon, have to explore the uncanny and otherworldly Realm of Eyes, where the eyeballs—good and evil—live. To survive, you have to be seen by the eyeballs at all times. This game is quite dark, at least by Luanti standards.</p>

<p>I made this in 3 weeks of hard work for the <a href="https://forum.luanti.org/viewtopic.php?t=31059">2024 Luanti Game Jam</a>. It ranked 3rd (out of 13). It also won the award for 🌧️ Best Mood.</p>

<p><b>Content warning</b>: Gore</p>

<h3>Hades Revisited</h3>
<a href='/assets/screenshots/hades_revisited.jpg'>
	<img class="screenshot" src="/assets/screenshots/hades_revisited_small.png" alt="Screenshot of Hades Revisted" width="600" height="400" >
</a>
<!-- intentionally link to forum page because the game is in alpha stage -->
<p><a href="https://forum.minetest.net/viewtopic.php?t=19121">Hades Revisited</a> is a <b>work in progress</b>. It is supposed to become a voxel game in which you’re terraforming the volcanic planet Hades and spread life. This game is still heavily incomplete. I am the main developer.</p>

<h3>Lazarr!</h3>
<a href='/assets/screenshots/lazarr.jpg'>
	<img class="screenshot" src="/assets/screenshots/lazarr_small.jpg" alt="Screenshot of Lazarr!" width="600" height="400" >
</a>
<p><a href="https://content.minetest.net/packages/Wuzzy/lazarr/">Lazarr!</a> is a pirate-themed laser puzzle game where you must solve laser puzzles to unlock treasure chests.</p>

<p>This was my entry to the 2021 Minetest Game Jam and my first entry for a game jame ever. I’ve hastily built it in the last day. The game did poorly, it ranked #13 out of 25. I was still surprised I managed to get the game working at all in such a short time and still had time for 10 very simple levels (one of them broken).</p>

<p>But in the years after, I’ve continued working on it to make it more interesting. The next major version 2.0.0, if I ever complete it, will be a much different experience.</p>

<p>I wrote a <a href="/games/postmortem_lazarr">post-mortem</a>.</p>

<h3>MineClone 2 (later VoxeLibre)</h3>
<a href="/assets/screenshots/mineclone2.jpg">
	<img class="screenshot" src="/assets/screenshots/mineclone2_small.jpg" alt="Screenshot of MineClone 2" width="600" height="400" >
</a>
<p>Many years ago, I’ve started a game called “<a href="https://content.minetest.net/packages/Wuzzy/mineclone2/">MineClone 2</a>”: a voxel sandbox that is meant to be a (mostly) faithful Minecraft clone, but as fully free software with 100% libre/free game resources, no exceptions.</p>

<p>The project started as a fork of MineClone by davedevils which was basically just more a skeleton of a game than an actual game. It was one of my biggest projects and I have developed this game from 2018 to 2021, but then I have lost interest and I have given the project to other people to work on.</p>

<p>In the later years, the new maintainers have put a lot of work into the game and have kept it alive and well. They’ve also renamed it to “VoxeLibre”.</p>

<p>I am no longer associated with MineClone 2 / VoxeLibre.</p>

<h3>Tutorial</h3>
<a href="/assets/screenshots/minetest_tutorial.jpg">
	<img class="screenshot" src="/assets/screenshots/minetest_tutorial_small.jpg" alt="Screenshot of the Tutorial for Luanti" width="600" height="400" >
</a>
<p>I’ve created a simple <a href="https://content.minetest.net/packages/Wuzzy/tutorial/">Tutorial</a> to teach the basics of Luanti. It has helped many newcomers to get started.</p>

<h3>Other Luanti stuff</h3>
<p>Apart from games, I’ve also made numerous mods and other contributions to Luanti. Hop over to my <a href="/gamedata/minetest" title="Wuzzy’s Luanti contributions">Luanti</a> page.

<h2>Other Games</h2>
<h3>Hedgewars</h3>
<a href="/assets/screenshots/hedgewars.jpg">
	<img class="screenshot" src="/assets/screenshots/hedgewars_small.jpg" alt="Screenshot of Hedgewars" width="600" height="400" >
</a>
<p><a href="https://hedgewars.org">Hedgewars</a> is a artillery game with hedgehogs. This is a <i>huge</i> collaborative project. I did not start this project, but I have joined the core development team and worked hard in making version 1.0.0 a reality. The project leader is unC0Rr.</p>

<h2>Inactive projects</h2>
<p>See <a href="/games/inactive">Inactive Game Projects</a>.</p>

