---
title: "Inactive Game Projects"
date: 2023-03-20
---
<p>On this page I list my game projects which I have either abandoned completely, consider inactive or a failure. Because making games is hard and doesn’t always go smoothly, I think it is valuable to openly talk about your failures.</p> 

<h2>Games for Luanti</h2>

<h3>Weird</h3>
<img class="screenshot" src="/assets/screenshots/weird.png" alt="Screenshot of Weird" width="300" height="200" >
<p><a href="https://forum.minetest.net/viewtopic.php?f=50&t=10369">Weird</a> is one of my earliest games for Luanti, first published 2014. The idea was to put the player in a surreal fantasy world in which many strange things happen. Mostly an attempt to combine several exiting mods from the Luanti community and call it a day. I had many ambitions for this but ultimately I didn’t have good ideas for the actual game, and it turned out just throwing together a bunch of mods doesn’t magically create a great game anyway. Ultimately, the project didn’t go anywhere and I lost interest quickly.</p>

<h3>Inside the Box Singleplayer Edition</h3>
<img class="screenshot" src="/assets/screenshots/itbse.png" alt="Screenshot of Inside the Box Singleplayer Edition" width="300" height="200" >
<p><a href="https://forum.minetest.net/viewtopic.php?f=50&t=28183">Inside The Box Singleplayer Edition</a> is an incomplete puzzle game I published in 2022. It’s incomplete because it doesn’t have any levels, only a level editor.</p>

<p>This is a direct fork from <a href="https://forum.minetest.net/viewtopic.php?f=10&t=18406">Inside the Box</a>, a puzzle game created by the Luanti developers sofar and nore. In this game, you have to solve puzzles to collect red nexus cubes, put them on pedestals and find the exit. There are many classic puzzle elements like switches, triggers, pistons and more. The downside of Inside the Box is that it’s online-only so I’ve forked this game to create to make it functional in singleplayer.</p>

<h2>Other games</h2>
<h3>Meritous Recharged</h3>
<p>The gimmick of <i>Meritous Recharged</i> is that you have exactly one attack (with psi) which kills enemies around you. The attack becomes stronger the longer you hold down the attack key. The goal is to explore a giant labyrinth of rooms, upgrade your skills and defeat bosses.</p>

<p>I worked on this in 2014. It’s just a simple fork of Meritous and it’s mostly identical. The original author did the bulk of the work. I didn’t do much, I just added a couple of bugfixes and an in-game help system, but that’s it. There are also licensing issues with the music, so I cannot recommend it in good conscience.</p>

<p>I’m satisfied with my little fork, and the gameplay works perfectly. But I don’t think it’s ready for publication.</p>

<h3>Bloxorz</h3>
<p>In <i>Bloxorz</i>, you need to flip and roll a 2×1×2 cuboid on tiles around so it stands upright on a goal tile. You have to avoid falling into the pit. There are a few extras like switches and falling floors but that’s basically the whole game.</p>

<p>This originally is an old proprietary Flash game, but someone tried to clone it in the Haskell programming language. I’ve found the incomplete code online. I believe in 2011 or so I’ve picked it up to make improvements and added a few levels. I got the game to a playable state, but there is no main menu and no level selection. I didn’t even use version control (like Git) back then, so development was a mess. But it was an interesting experience to test out my Haskell skills.</p>

<p>This project is private.</p>

<h2>Ancient games lost to time</h2>

<p>A long, long time ago (before 2014), I’ve made my first attempts to create games but they never went anywhere. Also, I have lost access to all files. All I have left is my memory.</p>

<h3>A nameless RPG game</h3>
<p>My earliest attempt in game development was to create a simple RPG game with RPG Maker 2000, a proprietary tool to create RPGs. This was back when I still used Windows. I have built a few levels but it never got anywhere in the end. I didn’t have an idea for a story or even name. Eventually I lost interest. I have lost all files because I gave the computer away and forgot to make a copy. It’s not a huge loss because this project didn’t go very far anyway. If I wanted, I could rebuild the levels from memory. But I don’t want to.</p>

<p>Because it is proprietary, I do not endorse RPG Maker 2000 or any of its successors. Check out the development of <a href="https://easyrpg.org">EasyRPG</a> instead. For something more powerful, you also might want to check out <a href="https://godotengine.org/">Godot</a>.</p>

<h3>A nameless puzzle game</h3>
<p>This was my first half-serious attempt to make a game using Blitz3D. It was meant to be a simple tile-based 2D puzzle game in bird’s view in which you use the cursor to move a character and platforms around in order to reach the goal tile. The gimmick is the platforms move in a straight line until they hit an obstacle. I have shamelessly copied this idea from an old proprietary freeware game. I even got the basic gameplay working, but had to give up due to a lack of level ideas and proper graphics. This project was nameless.</p>

<p>I haven’t touched Blitz3D for over a decade right now and it seems to be dead anyway. Blitz3D looked like a nice start back then, but in hindsight, I feel it is way too restrictive. I do not recommend to use Blitz3D to anyone.</p>

