{{- if len .Params | eq 1 }}
   {{- if (eq (.Get 0) "CC0") -}}
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
   {{- else if (eq (.Get 0) "CC BY-SA 3.0") -}}
      <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
   {{- else if (eq (.Get 0) "CC BY-SA 4.0") -}}
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
   {{- else if (eq (.Get 0) "CC BY 3.0") -}}
      <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
   {{- else if (eq (.Get 0) "CC BY 4.0") -}}
      <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
   {{- else if (eq (.Get 0) "FDL 1.2") -}}
      <a href="https://www.gnu.org/licenses/old-licenses/fdl-1.2.html">GNU FDL 1.2</a>
   {{- else if (eq (.Get 0) "GPLv2") -}}
      <a href="https://www.gnu.org/licenses/gpl-2.0">GNU GPLv2</a>
   {{- else if (eq (.Get 0) "GPLv3") -}}
      <a href="https://www.gnu.org/licenses/gpl-3.0">GNU GPLv3</a>
   {{- else if (eq (.Get 0) "MIT") -}}
      <a href="https://mit-license.org/">MIT License</a>
   {{- else -}}
      !!!INVALID LICENSE!!!
   {{- end -}}
{{- end -}}
